<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
      }
      .box {
        background-color: dodgerblue;
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box a">A</div>
      <div class="box b">B</div>
      <div class="box c">C</div>
      <div class="box d">D</div>
      <div class="box e">E</div>
    </div>
  </body>
</html>
