<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        display: grid;
        grid-gap: 30px;
        height: 100vh;
        grid-template-columns:
          minmax(min-content, 200px)
          minmax(max-content, auto);
      }
      .box {
        background-color: mediumpurple;
      }
    </style>
  </head>
  <body class="container">
    <div class="box a">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo illum laudantium maiores repudiandae ipsa dicta quia veniam sequi sunt consequatur fugiat at non alias odit quaerat, laboriosam ea omnis aut?
    </div>
    <div class="box b">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio accusantium ea, amet laudantium soluta explicabo repellendus. Nam aspernatur, molestias vel commodi vitae, voluptatibus iste numquam consectetur illo repellat voluptatum.
    </div>
  </body>
</html>
